.file-explorer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .file-explorer-form {
        width: 400px;
        border: 1px solid lightgray;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 1rem;
    }
}
