<form [formGroup]="fileForm">
  <div>
    <label for="">Prefix:</label>
    <input type="text" name="prefix" formControlName="prefix">
  </div>
  <br>
  <div>
    <label for="">Token:</label>
    <input type="text" name="token" formControlName="token">
  </div>

  <button (click)="submitData(fileForm.get('prefix').value)">Submit</button>
</form>

<br>

<div>
  <div *ngIf="backURL" (click)="callData(backURL)">Back</div>

  <ul>
    <li *ngFor="let item of folders" (click)="callData(item.Name._text)">
      {{item.Name._text.replace(backPrefix, '')}}</li>
    <li *ngFor="let item of files" (click)="downloadFile(item.Name._text)">
      {{item.Name._text.replace(backPrefix, '')}}
    </li>
  </ul>
</div>