.file-explorer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .file-explorer-form {
        width: 400px;
        border: 1px solid lightgray;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 1rem;
    }

    .file-explorer-grid-container {
        width: 100%;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .file-explorer-grid {
            list-style: none;
            margin: 0;
            border: 1px solid #eeeeee;
            padding: 1rem;
            border-radius: 5px;
            width: 80%;
            min-width: 500px;
            li {
                padding: 5px 10px;
                cursor: pointer;
                &:hover {
                    background-color: #e8e8e8;
                    .item-name {
                        color: #5050ff;
                    }
                }
                i {
                    margin-right: 0.5rem;
                    &.bi-folder-fill {
                        color: #d4bd79;
                    }
                    &.bi-file-text-fill {
                        color: #5fb7db;
                    }
                }
            }
        }
    }
}
