.example-tree-invisible {
    display: none;
}

.example-tree {
    padding: 30px;
    ul,
    li {
        margin-top: 0;
        margin-bottom: 0;
        list-style-type: none;
    }
    .mat-nested-tree-node div[role="group"] {
        padding-left: 40px;
    }
    div[role="group"] > .mat-tree-node {
        padding-left: 40px;
    }
    .empty-folder {
        padding-left: 48px;
    }
}
