/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";
@import "./node_modules/bootstrap-icons/font/bootstrap-icons";

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 30px;
}

html,
body {
    height: 100%;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}
